In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ["a", "b", "c"]

In [4]:
minha_lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {"a":10, "b":20, "c":30}

## Series

In [6]:
series = pd.Series(data = minha_lista, index = labels)

In [7]:
series

a    10
b    20
c    30
dtype: int64

In [8]:
series["a"]

10

In [9]:
pd.Series(arr, minha_lista)

10    10
20    20
30    30
dtype: int32

In [11]:
ser1 = pd.Series([1, 2, 3, 4], index = ["EUA", "Alemanha", "URSS", "Japão"])

In [12]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [13]:
ser2 = pd.Series([1, 2, 3, 4], index = ["EUA", "Alemanha", "Ttália", "Japão"])

In [14]:
ser2

EUA         1
Alemanha    2
Ttália      3
Japão       4
dtype: int64

In [16]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Japão       8.0
Ttália      NaN
URSS        NaN
dtype: float64