In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

## DataFrame

### Criação

In [4]:
df = pd.DataFrame(np.random.randn(5, 4), index = "A B C D E".split(), columns="W X Y Z".split())

In [5]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [12]:
df["new"] = df["Y"]+df["Z"]

In [13]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -2.865205
B -0.134841  0.390528  0.166905  0.184502  0.351406
C  0.807706  0.072960  0.638787  0.329646  0.968433
D -0.497104 -0.754070 -0.943406  0.484752 -0.458655
E -0.116773  1.901755  0.238127  1.996652  2.234779

Não altera o DataFrame Original

In [14]:
df.drop("new", axis = 1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [15]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -2.865205
B -0.134841  0.390528  0.166905  0.184502  0.351406
C  0.807706  0.072960  0.638787  0.329646  0.968433
D -0.497104 -0.754070 -0.943406  0.484752 -0.458655
E -0.116773  1.901755  0.238127  1.996652  2.234779

Altera o DataFrame Original

In [16]:
df.drop("new", axis = 1, inplace= True)

In [17]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

### Fatiamento

In [6]:
df["W"]

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [7]:
type(df["W"])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df[["Z", "W"]]

          Z         W
A -1.159119  0.302665
B  0.184502 -0.134841
C  0.329646  0.807706
D  0.484752 -0.497104
E  1.996652 -0.116773

In [11]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

##### Procurar com base nos indices das colunas e linhas

In [21]:
df.loc["A"]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [22]:
df.loc["A", "W"]

0.3026654485851825

In [23]:
df.loc[["A","B"],["X","Y","Z"]]

          X         Y         Z
A  1.693723 -1.706086 -1.159119
B  0.390528  0.166905  0.184502

##### Procurar com base na númeração das colunas e linhas

In [25]:
df.iloc[1:4, 2:]

          Y         Z
B  0.166905  0.184502
C  0.638787  0.329646
D -0.943406  0.484752

### Selecção Condicional

In [28]:
bol = df > 0

In [29]:
df[bol]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [33]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [35]:
df["W"]>0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [36]:
df[df["W"]>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [39]:
df[df["W"]>0]["Y"]

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [40]:
bol = df["W"] > 0
df2 = df[bol]
df2["Y"]

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [44]:
df[(df["W"]>0) & (df["Y"]<1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [69]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [81]:
df[(df["W"]>0) | (df["Y"] >0)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
E -0.116773  1.901755  0.238127  1.996652

## Index

In [82]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [83]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

##### Para alterar o indice do DataFrame Original

In [84]:
df.reset_index(inplace = True)

In [85]:
df

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [86]:
col = "RS RJ SP AM SC".split()

In [87]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [88]:
df["estado"] = col

In [89]:
df

  index         W         X         Y         Z estado
0     A  0.302665  1.693723 -1.706086 -1.159119     RS
1     B -0.134841  0.390528  0.166905  0.184502     RJ
2     C  0.807706  0.072960  0.638787  0.329646     SP
3     D -0.497104 -0.754070 -0.943406  0.484752     AM
4     E -0.116773  1.901755  0.238127  1.996652     SC

In [90]:
df.set_index("estado")

       index         W         X         Y         Z
estado
RS         A  0.302665  1.693723 -1.706086 -1.159119
RJ         B -0.134841  0.390528  0.166905  0.184502
SP         C  0.807706  0.072960  0.638787  0.329646
AM         D -0.497104 -0.754070 -0.943406  0.484752
SC         E -0.116773  1.901755  0.238127  1.996652

## Indices Multiniveis

In [91]:
#Niveis do Indice
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [94]:
hier_index = list(zip(outside, inside))

In [95]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [96]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [97]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [99]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ["A", "B"])

In [100]:
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [101]:
df.loc["G1"]

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [103]:
df.loc["G1"].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [105]:
df.index.names

FrozenList([None, None])

In [106]:
df.index.names = ["Grupo", "Numero"]

In [107]:
df

                     A         B
Grupo Numero
G1    1      -0.993263  0.196800
      2      -1.136645  0.000366
      3       1.025984 -0.156598
G2    1      -0.031579  0.649826
      2       2.154846 -0.610259
      3      -0.755325 -0.346419

Pesquisar sem passar o indice externo

In [108]:
df.xs("G1")

               A         B
Numero
1      -0.993263  0.196800
2      -1.136645  0.000366
3       1.025984 -0.156598

In [109]:
df.xs(1, level = "Numero")

              A         B
Grupo
G1    -0.993263  0.196800
G2    -0.031579  0.649826